## EDA on Vehicle Insurance Customer Data

### A company has customer data that contains 8 columns of customer details and another table having name customer_policy data contains the policy details of the customer.

### The company intends to offer some discount in premium for certain customers. To do that they ask their Data scientist team to get some information. Hence, following tasks DS team decided to perform:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("customer_details.csv")
df2=pd.read_csv("customer_policy_details.csv")

In [3]:
df.head()

     0       1     2    3     4    5          6    7
0  1.0    Male  44.0  1.0  28.0  0.0  > 2 Years  Yes
1  2.0    Male  76.0  1.0   3.0  0.0   1-2 Year   No
2  3.0    Male  47.0  1.0  28.0  0.0  > 2 Years  Yes
3  4.0    Male  21.0  1.0  11.0  1.0   < 1 Year   No
4  5.0  Female  29.0  1.0  41.0  1.0   < 1 Year   No

## Add the column names to both datasets:

#### Column Name for customer details table:

In [4]:
df.columns=["customer_id","Gender","age","driving_licence_present","region_code","previously_insured","vechicle_age","vechicle_damage"]

####  Column Name for customer_policy table:

In [5]:
df2.columns=["customer_id","annual premium (in Rs)","sales_channel_code","vintage","response"]

## 2. Checking and Cleaning Data Quality:

### cleaning the data of customer details

#### Generate a summary of count of all the null values column wise
#### Drop Null values for customer_id because central tendencies for idâ€™s is not feasible.
#### Replace all null values for numeric columns by mean. 
#### Replace all null values for Categorical value by mode.

In [6]:
df.isnull()

,customer_id,Gender,age,driving_licence_present,region_code,previously_insured,vechicle_age,vechicle_damage
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
381104,False,False,False,False,False,False,False,False
381105,False,False,False,False,False,False,False,False
381106,False,False,False,False,False,False,False,False
381107,False,False,False,False,False,False,False,False
381108,False,False,False,False,False,False,False,False

In [7]:
#null values in the customer_id
print("Total number of null values in the customer id is : ",df["customer_id"].isnull().sum())

Total number of null values in the customer id is :  386

In [8]:
#so there area 386 cutomer_id's are null so we are dropping all those customer id's
df=df.dropna(subset=["customer_id"])

In [9]:
#after dropping null value in the id column of customer details 
print("Total number of null values in the customer id after dropping null values : ",df["customer_id"].isnull().sum())

Total number of null values in the customer id after dropping null values :  0

In [10]:
df.info()
#checking datatypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380723 entries, 0 to 381108
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   customer_id              380723 non-null  float64
 1   Gender                   380355 non-null  object
 2   age                      380357 non-null  float64
 3   driving_licence_present  380331 non-null  float64
 4   region_code              380332 non-null  float64
 5   previously_insured       380342 non-null  float64
 6   vechicle_age             380342 non-null  object
 7   vechicle_damage          380317 non-null  object
dtypes: float64(5), object(3)
memory usage: 26.1+ MB

In [11]:
df

,customer_id,Gender,age,driving_licence_present,region_code,previously_insured,vechicle_age,vechicle_damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381104,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381105,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381106,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381107,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381108,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

## here we are checking each column and adding appropriate values to null values.

### column:-age

In [12]:
print("Total number of null values in the age column is : ",df["age"].isnull().sum())

Total number of null values in the age column is :  366

In [13]:
df['age']=df["age"].fillna(df["age"].mean())

In [14]:
print("Total number of null values in the age column is : ",df["age"].isnull().sum())

Total number of null values in the age column is :  0

### column :- gender

In [15]:
print("Total number of null values in the gender column is : ",df["Gender"].isnull().sum())

Total number of null values in the gender column is :  368

In [16]:
df["Gender"]=df["Gender"].fillna(df["Gender"].mode()[0])

In [17]:
print("Total number of null values in the gender column is : ",df["Gender"].isnull().sum())

Total number of null values in the gender column is :  0

### column:- driving_licence_present

In [18]:
print("Total number of null values in the driving_licence_present column is : ",df["driving_licence_present"].isnull().sum())

Total number of null values in the driving_licence_present column is :  392

In [19]:
df["driving_licence_present"]=df["driving_licence_present"].fillna(df["driving_licence_present"].mode()[0])

In [20]:
print("Total number of null values in the driving_licence_present column is : ",df["driving_licence_present"].isnull().sum())

Total number of null values in the driving_licence_present column is :  0

### column:-region_code

In [21]:
print("Total number of null values in the region_code column is : ",df["region_code"].isnull().sum())

Total number of null values in the region_code column is :  391

In [22]:
df["region_code"]=df["region_code"].fillna(df["region_code"].mode()[0])

In [23]:
print("Total number of null values in the region_code column is : ",df["region_code"].isnull().sum())

Total number of null values in the region_code column is :  0

### column:- previously_insured

In [24]:
print("Total number of null values in the previously_insured column is : ",df["previously_insured"].isnull().sum())

Total number of null values in the previously_insured column is :  381

In [25]:
df["previously_insured"]=df["previously_insured"].fillna(df["previously_insured"].mode()[0])

In [26]:
print("Total number of null values in the previously_insured column is : ",df["previously_insured"].isnull().sum())

Total number of null values in the previously_insured column is :  0

### column:- vechicle_age

In [27]:
print("Total number of null values in the vechicle_age column is : ",df["vechicle_age"].isnull().sum())

Total number of null values in the vechicle_age column is :  381

In [28]:
df["vechicle_age"]=df["vechicle_age"].fillna(df["vechicle_age"].mode()[0])

In [29]:
print("Total number of null values in the vechicle_age column is : ",df["vechicle_age"].isnull().sum())

Total number of null values in the vechicle_age column is :  0

### column:- vechicle_damage

In [30]:
print("Total number of null values in the vechicle_damage column is : ",df["vechicle_damage"].isnull().sum())

Total number of null values in the vechicle_damage column is :  406

In [31]:
df["vechicle_damage"]=df["vechicle_damage"].fillna(df["vechicle_damage"].mode()[0])

In [32]:
print("Total number of null values in the vechicle_damage column is : ",df["vechicle_damage"].isnull().sum())

Total number of null values in the vechicle_damage column is :  0

## cleaning the data of customer policy details

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 5 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   customer_id             380722 non-null  float64
 1   annual premium (in Rs)  380763 non-null  float64
 2   sales_channel_code      380709 non-null  float64
 3   vintage                 380721 non-null  float64
 4   response                380748 non-null  float64
dtypes: float64(5)
memory usage: 14.5 MB

### columns:- customer_id

In [34]:
print("Total number of null values in the customer_id column is : ",df2["customer_id"].isnull().sum())

Total number of null values in the customer_id column is :  387

In [35]:
#dropping all the ids which have null values
df2=df2.dropna(subset=["customer_id"])

In [36]:
print("Total number of null values after removing the customer_id column is : ",df2["customer_id"].isnull().sum())

Total number of null values after removing the customer_id column is :  0

### column:- annual_premium

In [37]:
print("Total number of null values in the annual_premium column is : ",df2["annual premium (in Rs)"].isnull().sum())

Total number of null values in the annual_premium column is :  344

In [38]:
df2["annual premium (in Rs)"]=df2["annual premium (in Rs)"].fillna(df2["annual premium (in Rs)"].mean())

In [39]:
print("Total number of null values in the annual_premium column is : ",df2["annual premium (in Rs)"].isnull().sum())

Total number of null values in the annual_premium column is :  0

### column:- sales_channel_code

In [40]:
print("Total number of null values in the sales_channel_code column is : ",df2["sales_channel_code"].isnull().sum())

Total number of null values in the sales_channel_code column is :  400

In [41]:
df2["sales_channel_code"]=df2["sales_channel_code"].fillna(df2["sales_channel_code"].mean())

In [42]:
print("Total number of null values in the sales_channel_code column is : ",df2["sales_channel_code"].isnull().sum())

Total number of null values in the sales_channel_code column is :  0

### column:- vintage

In [43]:
print("Total number of null values in the vintage column is : ",df2["vintage"].isnull().sum())

Total number of null values in the vintage column is :  388

In [44]:
df2["vintage"]=df2["vintage"].fillna(df2["vintage"].mean())

In [45]:
print("Total number of null values in the vintage column is : ",df2["vintage"].isnull().sum())

Total number of null values in the vintage column is :  0

### column:- response

In [46]:
print("Total number of null values in the response column is : ",df2["response"].isnull().sum())

Total number of null values in the response column is :  361

In [47]:
df2["response"]=df2["response"].fillna(df2["response"].mode()[0])

In [48]:
print("Total number of null values in the response column is : ",df2["response"].isnull().sum())

Total number of null values in the response column is :  0

## outliers checking for customer detail

### Replace all outlier values for numeric columns by mean.

In [49]:
df.describe()

,customer_id,age,driving_licence_present,region_code,previously_insured
count,380723.000000,380723.000000,380723.000000,380723.000000,380723.000000
mean,190548.776244,38.822788,0.997870,26.391090,0.457800
std,110016.805160,15.504826,0.046105,13.223772,0.498217
min,1.000000,20.000000,0.000000,0.000000,0.000000
25%,95269.500000,25.000000,1.000000,15.000000,0.000000
50%,190543.000000,36.000000,1.000000,28.000000,0.000000
75%,285822.500000,49.000000,1.000000,35.000000,1.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000

In [50]:
df

,customer_id,Gender,age,driving_licence_present,region_code,previously_insured,vechicle_age,vechicle_damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381104,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381105,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381106,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381107,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381108,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

### column:- age

In [51]:
Q1=df.describe().loc["25%","age"]
Q3=df.describe().loc["75%","age"]

In [52]:
IQR=Q3-Q1

In [53]:
IQR

24.0

In [54]:
print(df.loc[df["age"]<(Q1-IQR*1.5),"age"].count())
print(df.loc[df["age"]>(Q3+IQR*1.5),"age"].count())

0
0

So there are no outliers in age column of customer_detail

### column:- driving_licence_present

In [55]:
Q1=df.describe().loc["25%","driving_licence_present"]
Q3=df.describe().loc["75%","driving_licence_present"]

In [56]:
IQR=Q3-Q1
IQR

0.0

In [57]:
print(df.loc[df["driving_licence_present"]<(Q1-IQR*1.5),"driving_licence_present"].count())
print(df.loc[df["driving_licence_present"]>(Q3+IQR*1.5),"driving_licence_present"].count())

811
0

### column:- region_code

In [58]:
Q1=df.describe().loc["25%","region_code"]
Q3=df.describe().loc["75%","region_code"]

In [59]:
IQR=Q3-Q1
IQR

20.0

In [60]:
print(df.loc[df["region_code"]<(Q1-IQR*1.5),"region_code"].count())
print(df.loc[df["region_code"]>(Q3+IQR*1.5),"region_code"].count())

0
0

### column:- previously_insured

In [61]:
Q1=df.describe().loc["25%","previously_insured"]
Q3=df.describe().loc["75%","previously_insured"]

In [62]:
IQR=Q3-Q1
IQR

1.0

In [63]:
print(df.loc[df["previously_insured"]<(Q1-IQR*1.5),"previously_insured"].count())
print(df.loc[df["previously_insured"]>(Q3+IQR*1.5),"previously_insured"].count())

0
0

## outliers checking for customer policy detail

In [64]:
df2.describe()

,customer_id,annual premium (in Rs),sales_channel_code,vintage,response
count,380722.000000,380722.000000,380722.000000,380722.000000,380722.000000
mean,190547.491663,30563.999774,112.036687,154.347192,0.122410
std,110013.824148,17190.147550,54.177046,83.628096,0.327759
min,1.000000,2630.000000,1.000000,10.000000,0.000000
25%,95276.250000,24416.000000,29.000000,82.000000,0.000000
50%,190536.500000,31656.000000,131.000000,154.000000,0.000000
75%,285818.750000,39391.750000,152.000000,227.000000,0.000000
max,381109.000000,540165.000000,163.000000,299.000000,1.000000

### column:- annual_premium

In [65]:
Q1=df2.describe().loc["25%","annual premium (in Rs)"]
Q3=df2.describe().loc["75%","annual premium (in Rs)"]

In [66]:
IQR=Q3-Q1

In [67]:
print(df2.loc[df2["annual premium (in Rs)"]<(Q1-IQR*1.5),"annual premium (in Rs)"].count())
print(df2.loc[df2["annual premium (in Rs)"]>(Q3+IQR*1.5),"annual premium (in Rs)"].count())

0
10332

In [68]:
#it says annual premium has outlier so we are replacing it by mean
df2.loc[df2["annual premium (in Rs)"]>(Q3+IQR*1.5),"annual premium (in Rs)"]=df2["annual premium (in Rs)"].mean()

In [69]:
print(df2.loc[df2["annual premium (in Rs)"]>(Q3+IQR*1.5),"annual premium (in Rs)"].count())

0

### column:- sales_channel_code

In [70]:
Q1=df2.describe().loc["25%","sales_channel_code"]
Q3=df2.describe().loc["75%","sales_channel_code"]

In [71]:
IQR=Q3-Q1

In [72]:
print(df2.loc[df2["sales_channel_code"]<(Q1-IQR*1.5),"sales_channel_code"].count())
print(df2.loc[df2["sales_channel_code"]>(Q3+IQR*1.5),"sales_channel_code"].count())

0
0

In [73]:
#so there are no outliers in sales_channel_code

### column:- vintage

In [74]:
Q1=df2.describe().loc["25%","vintage"]
Q3=df2.describe().loc["75%","vintage"]

In [75]:
IQR=Q3-Q1

In [76]:
print(df2.loc[df2["vintage"]<(Q1-IQR*1.5),"vintage"].count())
print(df2.loc[df2["vintage"]>(Q3+IQR*1.5),"vintage"].count())

0
0

In [77]:
#so there are no outliers in vintage

## Remove white spaces

In [78]:
df["Gender"]=df["Gender"].str.strip()

In [79]:
df["vechicle_age"]=df["vechicle_age"].str.strip()

In [80]:
df["vechicle_damage"]=df["vechicle_damage"].str.strip()

# CASE CHANGE

In [81]:
## case change
df["vechicle_damage"]=df["vechicle_damage"].str.lower()

In [82]:
df["vechicle_age"]=df["vechicle_age"].str.lower()

In [83]:
df["Gender"]=df["Gender"].str.lower()

In [84]:
df

,customer_id,Gender,age,driving_licence_present,region_code,previously_insured,vechicle_age,vechicle_damage
0,1.0,male,44.0,1.0,28.0,0.0,> 2 years,yes
1,2.0,male,76.0,1.0,3.0,0.0,1-2 year,no
2,3.0,male,47.0,1.0,28.0,0.0,> 2 years,yes
3,4.0,male,21.0,1.0,11.0,1.0,< 1 year,no
4,5.0,female,29.0,1.0,41.0,1.0,< 1 year,no
...,...,...,...,...,...,...,...,...
381104,381105.0,male,74.0,1.0,26.0,1.0,1-2 year,no
381105,381106.0,male,30.0,1.0,37.0,1.0,< 1 year,no
381106,381107.0,male,21.0,1.0,30.0,1.0,< 1 year,no
381107,381108.0,female,68.0,1.0,14.0,0.0,> 2 years,yes
381108,381109.0,male,46.0,1.0,29.0,0.0,1-2 year,no

### Convert nominal data (categorical) into dummies for future modeling use if required

In [85]:
gender_dummi=pd.get_dummies(df["Gender"])

In [86]:
vechicle_age_dummi=pd.get_dummies(df["vechicle_age"])

In [87]:
vechicle_damage_dummi=pd.get_dummies(df["vechicle_damage"])

In [88]:
driving_licence_present_dummi=pd.get_dummies(df["driving_licence_present"])

In [89]:
previously_insured_dummi=pd.get_dummies(df["previously_insured"])

In [90]:
response_dummi=pd.get_dummies(df2["response"])

In [91]:
df2

,customer_id,annual premium (in Rs),sales_channel_code,vintage,response
0,1.0,40454.0,26.0,217.0,1.0
1,2.0,33536.0,26.0,183.0,0.0
2,3.0,38294.0,26.0,27.0,1.0
3,4.0,28619.0,152.0,203.0,0.0
4,5.0,27496.0,152.0,39.0,0.0
...,...,...,...,...,...
381104,381105.0,30170.0,26.0,88.0,0.0
381105,381106.0,40016.0,152.0,131.0,0.0
381106,381107.0,35118.0,160.0,161.0,0.0
381107,381108.0,44617.0,124.0,74.0,0.0
381108,381109.0,41777.0,26.0,237.0,0.0

### checking for any duplicates

In [92]:
print("The no of duplicates in customer_details : ",df.duplicated().sum())

The no of duplicates in customer_details :  0

In [93]:
print("The no of duplicates in customer_policy_details : ",df2.duplicated().sum())

The no of duplicates in customer_policy_details :  0

###  Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables.

In [94]:
master_df=pd.merge(df,df2,on='customer_id')
master_df

,customer_id,Gender,age,driving_licence_present,region_code,previously_insured,vechicle_age,vechicle_damage,annual premium (in Rs),sales_channel_code,vintage,response
0,1.0,male,44.0,1.0,28.0,0.0,> 2 years,yes,40454.0,26.0,217.0,1.0
1,2.0,male,76.0,1.0,3.0,0.0,1-2 year,no,33536.0,26.0,183.0,0.0
2,3.0,male,47.0,1.0,28.0,0.0,> 2 years,yes,38294.0,26.0,27.0,1.0
3,4.0,male,21.0,1.0,11.0,1.0,< 1 year,no,28619.0,152.0,203.0,0.0
4,5.0,female,29.0,1.0,41.0,1.0,< 1 year,no,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380331,381105.0,male,74.0,1.0,26.0,1.0,1-2 year,no,30170.0,26.0,88.0,0.0
380332,381106.0,male,30.0,1.0,37.0,1.0,< 1 year,no,40016.0,152.0,131.0,0.0
380333,381107.0,male,21.0,1.0,30.0,1.0,< 1 year,no,35118.0,160.0,161.0,0.0
380334,381108.0,female,68.0,1.0,14.0,0.0,> 2 years,yes,44617.0,124.0,74.0,0.0
380335,381109.0,male,46.0,1.0,29.0,0.0,1-2 year,no,41777.0,26.0,237.0,0.0

#### Company needs some important information from the master table to make decisions for future growth.They needs following information:

##### i. Gender wise average annual premium

##### ii. Age wise average annual premium

##### iii. Is your data balanced between the genders?
(Hint: Data is balanced if number of counts in each group is approximately same)

##### iv. Vehicle age wise average annual premium.

In [95]:
# Gender wise average annual premium
gen_anl=master_df.groupby(["Gender"])["annual premium (in Rs)"].mean()

In [96]:
gen_anl

Gender
female    29273.474247
male      29323.099677
Name: annual premium (in Rs), dtype: float64

In [97]:
##Age wise average annual premium
age_anl=master_df.groupby(["age"])["annual premium (in Rs)"].mean()

In [98]:
age_anl

age
20.0    26342.073517
21.0    29751.791916
22.0    29946.848634
23.0    29838.344763
24.0    30125.557096
            ...
81.0    29287.910702
82.0    36480.586199
83.0    28995.818172
84.0    35440.818182
85.0    26637.454525
Name: annual premium (in Rs), Length: 67, dtype: float64

In [99]:
##Is your data balanced between the genders?
##yes it count approximatly same.

In [100]:
## Vehicle age wise average annual premium.
vec_anl=master_df.groupby(["vechicle_age"])["annual premium (in Rs)"].mean()

In [101]:
vec_anl

vechicle_age
1-2 year     29102.009839
< 1 year     29188.150594
> 2 years    32943.540830
Name: annual premium (in Rs), dtype: float64

####  Is there any relation between Person Age and annual premium?
Hint: use correlation function (Correlation describes the relationship between two variables).

Correlation coefficient < -0.5 - Strong negative relationship

Correlation coefficient > 0.5 - Strong positive relationship

0.5 < Correlation coefficient < 0.5 - There is no relationship.

In [102]:
corelation=master_df["age"].corr(master_df["annual premium (in Rs)"])

In [103]:
corelation

0.05065758928617531

In [104]:
#there is no relationship 
# beacause the corelation is  <0.5